{% extends "main/base.html" %}

{% block content %}

<div class="row">
	<div class="span4 offset4">
		<blockquote>
			<p>Ja przedwczoraj ściszałem telewizor...</p>
			<small>Laska</small>
		</blockquote>

		<h1 class="text-info">Kto tym razem idzie po żarcie?</h1>

		<ul>
			<li><h3><i class="icon-arrow-right"></i> suda</h3></li>
			<li>bartheq</li>
			<li>paweł</li>
		</ul>

        <div class="bs-docs-example">
            <dl class="dl-horizontal">
                <dt>dzisiaj</dt>
                <dd>paweł poszedł po kebab</dd>
            </dl>
        </div>
	</div>
</div>
{% endblock %}